
/* variable declaration */

:root{
    --nav-text-color: #5f5f5f;
    --background-color: #FCF5F5;
    --main-bg-color: #FFFFFF;
    --logo-color: #EC662B;
}


body{
    background-color: var(--main-bg-color);
    margin: 0;
}

/* navbar styles */

.navbar{
    background-color: var(--background-color);

}
.menu-link{
    text-decoration: none;
    color: var(--nav-text-color);
    
}

.nav-menu-list{
    text-decoration:none;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none; 
    display: inline; 
      
}
.nav-menu{
    display: inline;
    margin: 30px;
    font-family: "Playfair Display", serif;
}

.logo{
    color: var(--logo-color);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
    margin: 40px;
    display: inline;
}


.upper-section{
    background-color: var(--background-color);
    margin: 0;
}

.nav-menu-div{
    background-color: var(--background-color);
    margin: 0px 20px;
}